body {
  background: #0d0d0d;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 40px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  background: #1e90ff;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
